.ibm-font{
  font-family: 'IBM Plex Mono', monospace;
}

.bold-font{
  font-weight: bold;
}

.align-center{
  text-align: center;
}

.icon{
  font-size: 110px;
  padding: 20px;
}

.carousel-cap{
  padding: 15px;
}

.nav-main{
  padding: 15px;
}

.nav-item{
  border-left: solid #e4e2e2 1px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.5s ease;

}

.nav-item:last-child{
  border-right: solid #e4e2e2 1px;
}

.nav-item:hover{
  background-color: #e4e2e2;
}

.content{
  padding-top:15px;
}

.main-header{
  padding: 15px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
}

footer {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.media-icons{
  font-size: 3em !important;
  padding: 25px;
}

.active-nav{
  background-color: #e4e2e2;
}

#carouseldiv{
  padding-top: 30px;
  background-color: #d4d4d4;
}

#profile-pic{
  max-width: 100%;
  overflow: hidden;
}
