#input_error{
  color:red;
  font-size: 15px;
}
.coinName{
  display: inline-block;
}
.coinImage{
  max-width: 40px;
  display: inline-block;
  padding-bottom: 11px;
  padding-left: 10px;

}
.coinData{
  padding: 10px;
}
